@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/node_modules/flag-icons/css/flag-icons.min.css";

@layer utilities {
    .scrollbar-none::-webkit-scrollbar {
      display: none;
    }
    
    .scrollbar-none {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

  @layer utilities {
    .scrollbar-thin::-webkit-scrollbar {
      width: 6px;
    }
    
    .scrollbar-thin::-webkit-scrollbar-track {
      background: transparent;
    }
    
    .scrollbar-thin::-webkit-scrollbar-thumb {
      background: #fecaca;
      border-radius: 3px;
    }
    
    .scrollbar-thin::-webkit-scrollbar-thumb:hover {
      background: #fca5a5;
    }
  }